<div class="module-content box">
  <header>
      <h2 class="page-heading">{{ _("Methodology for publishing Open Data") }}</h1>
      <p>    
Open Data methodology is the next component od Open data suite provided by <a href="http://www.comsode.eu" target="_blank" class="rlink">Comsode project</a>. 
It is intended for data owners and publishers (mainly public bodies) as the generic methodology for the design of their internal processes. 
<a href="http://www.comsode.eu/index.php/2014/08/methodology-for-publishing-datasets-as-open-data/" target="_blank">More information..</a>
</p>

<p><a href="http://www.comsode.eu/index.php/2014/08/methodology-for-publishing-datasets-as-open-data/" target="_blank"><img src="{{ h.url_for_static('base/images/methodology.jpg') }}" width="410" height="184" alt="Methodology" border="0"></a></p>

  </header>
</div>
