{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Comsode: Open Data Node") }}</h1>
      <p>
      {% trans %}
        ODN is platform for publishing, retrieving and interchange of open data supporting whole process of publication.
      {% endtrans %}
      <a href="{% url_for controller='home', action='about' %}">{{ _('More information..') }}</a>
      </p>
    {% endif %}
  </header>
  <section class="featured media-overlay">
    <p>
      <a href="{% url_for controller='home', action='about' %}">
        <img src="{{ h.localized_url_for_static('base/images/odnschemesmall.jpg') }}" onerror="this.src='{{ h.url_for_static('/base/images/odnschemesmall.jpg') }}'" alt="ODN scheme" width="410" height="167" border="0" />
      </a>
    </p>
  </section>
</div>
