{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Comsode: Open Data Node") }}</h1>
      <p>
        ODN is platform fur publishing, retrieving and interchange of open data supporting whole process of publication. <a href="./about/">More information..</a>
      </p>
    {% endif %}
  </header>
  <section class="featured media-overlay">
    <p><a href="./about/"><img src="{{ h.url_for_static('/base/images/odnschemesmall.jpg') }}" alt="ODN scheme" width="410" height="167" border="0" /></a></p>
  </section>
</div>
